#regularButton{
    -fx-background-color: #bdc3c7;
    -fx-pref-width: 90;
    -fx-pref-height: 80;
}

#regularButton:hover{
    -fx-border-color: #7f8c8d;
}

#regularButton:pressed{
    -fx-background-color: #7f8c8d;
}

#logoutButton{
    -fx-background-color: #7f8c8d;
    -fx-pref-width: 80;
    -fx-pref-height: 30;
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
}

#logoutButton:hover{
    -fx-border-color: #95a5a6;
}

#logoutButton:pressed{
    -fx-background-color: #95a5a6;
}

#loginButton{
    -fx-background-color: #7f8c8d;
    -fx-min-width: 80;
    -fx-pref-height: 60;
    -fx-font-family: Arial;
    -fx-font-weight: 500;
    -fx-font-size: 12;
    -fx-text-fill: white;
}

#loginButton:hover{
    -fx-border-color: #95a5a6;
}

#loginButton:pressed{
    -fx-background-color: #95a5a6;
}

#menuButton{
    -fx-background-color: #7f8c8d;
    -fx-pref-height: 40;
    -fx-min-width: 100;
    -fx-text-fill: white;
}

#menuButton:hover{
    -fx-border-color: #95a5a6;
}

#menuButton:pressed{
    -fx-background-color: #95a5a6;
}
